$color-black: rgba(60, 60, 60, 0.7);
$color-yellow-1:rgba(255, 236, 156, 1) ;
$color-yellow-2: rgba(233, 152, 0, 1);

.channels {
    width: 150px;
    height: 100vh;
    text-align: left;
    //background-image: url("../../assets/login-pattern.jpg");
    background: $color-black;
    margin: -2rem 0 0 0;
    padding: 1rem 0 0 1rem;
    float: left;  

    .channels-content {
        display: flex; 
        flex-direction: column;
        margin-top: 1rem;
        font-size: 0.8rem;
        max-height: 11rem;
        overflow-y: auto;

        p {
            margin: 0.5rem 0;
        }
    }

    .scrollable {
        overflow-y: auto;
    }

    .item-link {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .selected {
        text-shadow: 3px 3px 15px $color-yellow-1, -2px 1px 25px $color-yellow-2;
        //font-weight: 700;
        //opacity: 0.9;
    }
}
