$color-purple: rgba(75, 0, 175, 0.8);
$color-yellow: rgba(255, 235, 167, 1);
$color-black-1: rgba(20, 25, 40, 0.8);
$color-black-2: rgba(36, 36, 36, 1);

body {
    background-image: url("../../assets/night-sky.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.login {
    display: flex;
}

.login-main {
    flex-grow: 1;
    height: auto;

    .login-logo {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        .login-logo-img {
            margin: 1rem 0 -1rem 0;
        }
    
        .login-logo-txt {
            font-size: 2rem;
            font-weight: bold;
            margin: 0 0 0 1rem;
            color: white;
        }
    }

    .login-details-header {
        display: flex;
        justify-content: center;
        column-gap: 2.5rem;
        font-size: 1rem;
        color: $color-yellow;
        margin: 1.5rem 0 0.5rem 0;
    }

    .toggle{
        margin: 0 0 3rem 0;

        input[type="checkbox"]{
            display: none;
        }
        
        label{
            position: relative;
        }
        
        input[type="checkbox"] + label::before{
            content: "";
            display: block;
            height: 0.8rem;
            width: 3rem;
            border: 1px solid $color-yellow;
            border-radius: 9px;
            position: absolute;
            left: -2rem;
            background: $color-yellow;
        }

        input[type="checkbox"]:checked + label::after {
            transform: translateX(0) rotate(90deg);
        }
        
        input[type="checkbox"] + label::after{
            content: "➜";
            display: block;
            text-align: center;
            height: 1.5rem;
            width: 1.5rem;
            color: $color-yellow;
            border: 1px solid $color-yellow;   
            border-radius: 50%;
            position: absolute;
            top: -0.35rem;
            left: -2.4rem;
            background: $color-black-2;
            transform: rotate(235deg);
            transition: all 0.3s ease-in;
        }
        
        input[type="checkbox"]:checked + label::after{
            left: 0;
            transform: rotate(-45deg);
            transition: all 0.3s ease-in;
        }
      }

    .login-wrap {
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        position: relative;
        perspective: 1000px;
        transition: transform 0.6s;

        &.login-wrap-front {
            transform: rotateY(0deg);
        }

        &.login-wrap-back {
            transform: rotateY(360deg);
        }

        .login-wrap-front, .login-wrap-back {
            height: 20rem;
            margin: 1rem;
            background-image: url("../../assets/login-pattern.jpg");
            background-size: cover;
            box-sizing: border-box;
            border-radius: 0.25rem;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            transition: transform 0.5s ease;
        }

        .login-details, .signup-details {
            display: flex;
            flex-direction: column;
            height: 18rem;
            row-gap: 0.3rem;
            font-size: 1.5rem;
            align-items: center;
            font-weight: bold;
            color: white;
            background: $color-black-1;
            padding: 1rem 2rem;

            h2 {
                margin: 0.5rem 0 0 0;
            }
    
            .login-email-txt, .login-password-txt, 
            .signup-email-txt, .signup-password-txt {
                margin-top: 1.2rem;
                font-size: 1rem;
                border: none;
                width: 80%;
                color: $color-black-2;
                background: white;
                border-radius: 20px;
                padding: 0.3rem 1rem;
            }
        
            button {
                font-size: 1rem;
                font-weight: bold;
                color: $color-black-2;
                background: white;
                border-radius: 20px;
                border: none;
                box-shadow: none;
                margin: 1rem 0;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: ease 0.4s;
            
                &:hover{
                    color: $color-yellow;
                    background-color: $color-black-2;
                }
            }
        }
    }
}

