$color-black: rgba(60, 60, 60, 0.7);

.channels {
    width: 200px;
    height: 100vh;
    text-align: left;
    background: $color-black;
    padding: 0 0.5rem 0 1rem;
    float: left;
   
    .channels-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.3rem;
        padding: 2rem 0 0 0;

        .channels-btn {
            margin: 1.9rem 0;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .channels-content {
        display: flex; 
        flex-direction: column;
        font-size: 1rem;
        max-height: 12rem;
        overflow-y: auto;

        p {
            margin: 0.5rem 0;
        }
    }

    .channels-member-header {
        font-weight: bold;
        margin: 3rem 0 0 0;
    }

    .channels-members {
        margin: 0.5rem 0 0 0;
        overflow-y: auto;
        max-height: 13rem;

        .channels-members-name {
            display: flex;
            flex-direction: row;
        }
    }

    .scrollable {
        overflow-y: auto;
    }

    .item-link {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}
