.message-page {

    .message-page-sidebar {
        flex: 1;
    }
    
    .message-page-chat {
        display: flex;
        flex-direction: column;

        .message-page-chat-messages {
            display: flex;
            flex-grow: 1;
        }

        .message-page-chat-send {
            display: flex;
            flex-grow: 1;

            
        }
    }
}
