$color-white: rgb(225, 228, 255);
$color-violet: rgba(53, 51, 107, 1);

.search-bar {
    color: $color-white;
    
    input {
        width: 7rem;
        background: $color-violet;
        border-radius: 10px;
        color: $color-white;
        padding: 0.25rem 0.75rem;
        border: solid $color-white;
    }

    .search-dropdown {

        p {
            cursor: pointer;
        }
    }
}