$color-black-1: rgba(36, 36, 36, 1);
$color-black-2: rgba(36, 36, 36, 0.8);

.sidebar {
    width: 150px;
    height: 100vh;
    text-align: center;
    background: $color-black-2;
    transition: all 0.3s;
    margin-right: 1rem;
    margin: -2rem 0 0 -2rem;
    float: left;  

    .sidebar-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0 0 0;

        .sidebar-title-logo{
            margin: 1rem 0 0 0;
        }

        .sidebar-title-txt {
            font-size: 1.2rem;
            margin-top: -3rem;
            font-weight: 700;
            color: white;
            mix-blend-mode: difference;
        }
    }

    .sidebar-content {
        display: flex; 
        flex-direction: column;
        margin-top: 1rem;
        font-size: 0.7rem;
    }

    .item-link, button {
        cursor: pointer;
    }

    .item-link {
        text-decoration: none;
        color: white;
    }

    .selected {
        color: $color-black-1;
        background: linear-gradient(to bottom right, rgb(255,236,156), rgb(227, 149, 3));
        border-radius: 20px;
        padding: 0.35rem;
        margin: 0.5rem 1rem;
        font-weight: 700;
    }
}
/*  
.sidebar.collapsed {
    width: 0;
}

@media (max-width: 400px) {
    .sidebar {
      width: 0;
    }
    .sidebar.collapsed {
      width: 250px;
    }
}*/