$color-black: rgba(60, 60, 60, 0.7);

.dms {
    width: 150px;
    height: 100vh;
    text-align: left;
    background: $color-black;
    padding: 0 0.5rem 0 1rem;
    float: left;  

    .dms-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 2rem 0 0.5rem 0;
    }

    .dms-search {
        font-size: 0.9rem;
        margin: 0 0.5rem 0 0;
        overflow-x: hidden;
    }
}
